.container {
    display: flex;
    flex-direction: column;
    background-color: #c6d4ae;
    margin-inline: 6%;
}

.header {
    text-align: center;
    font-size: 52px;

}

.bg-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.map{
    justify-content: center;
    align-self: center;
}

.bold {
    font-weight: 600;
}

.half-size {
    width: 47%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.manrope-header {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.manrope-font {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }